

:root{


--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);


--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--hover: #766cf1;

--newtop: #d6e1ff;

}

*{
    font-family: 'Red Hat Display', sans-serif;
}


body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: var(--Pale-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*main general box*/
main {
    width: 328px;
    height: 570px;
    background-color: white;
    border-radius: 0 0 25px 25px;
    box-shadow: 0px 55px 45px rgba(0, 0, 0, 0.1);

}


/*Header image*/

.image_top  {
    width: 328px;
    height: 160px;
    background-color: var(--Pale-blue);
}

.image_top img {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
   ;

}

/*Summary Box*/

.summary_box{
    text-align: center;
}

.summary_box .summary_title {
    font-weight: 900;
    font-size: 22px;
    font-style: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: var(--Dark-blue);
}

.summary_box .summary_description {
    color: var(--Desaturated-blue);
    line-height: 1.5;
    margin-left: 2rem;
    margin-right: 2rem;
}


/*plan box*/

.plan_box {
    background-color: var(--Very-pale-blue);
    margin: 1.5rem 1.5rem;
    border-radius: 10px;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.plan_box .plan_icon {
    margin-left: 1rem;
}

.plan_content {
    margin-left: 1.5rem;
    align-content: center;
    line-height: 1.5;
    font-size: 14px;
}

.plan_content .plan_title {
    font-weight: 900;
    color: var(--Dark-blue);
}

.plan_content .plan_price {
    color: var(--Desaturated-blue);
}


.plan_box .plan_link {
    font-size: 13px;
    align-self: center;
    margin-left: 3rem;
    text-decoration: underline;
    color: var(--Bright-blue);
    font-weight: 700;
}

.plan_box .plan_link:hover {
    color:var(--hover);
}



/*payment button*/

.button_pay {
    display: flex;
    justify-content: center;

}

.button_pay .payment {
    font-size: 16px;
    border: none;
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    padding: 0.8rem 4rem;
    border-radius: 10px;
    box-shadow: 0px 35px 15px rgba(0, 0, 0, 0.1);
}

.button_pay .payment:hover {
    background-color: var(--hover);
    cursor: pointer;
}


/*Cancel*/

.button_cancel {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button_cancel .cancel_link {
    font-size: 15px;
    font-weight: 700;
    color: var(--Desaturated-blue);
}

.button_cancel .cancel_link:hover {
    color: var(--Dark-blue);
}


/*attribution*/

.attribution {
    margin-top: 7px;
}

@media (min-width: 1440px) {

    body {
        background-image: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    main {
        width: 450px;
        height: 700px;
    }

    .image_top {
        width: 450px;
        background-color: var(--newtop);
    }

    .summary_box .summary_title {
        margin-top: 7rem;
        font-size: 24px;
    }

    .summary_box .summary_description {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .plan_box {
        margin: 1rem 2.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .plan_box .plan_icon {
        margin-left: 1.5rem;
    }

    .plan_content {
        margin-left: 1.5rem;
        font-size: 16px;
    }
    .plan_box .plan_link {
        font-size: 15px;
        align-self: center;
        margin-left: 6rem;
    }

    .button_pay .payment {
        margin-top: 1rem;
        padding: 1rem 6.8rem;
        border-radius: 10px;
    }

    .button_cancel {
        margin-top: 2.5rem;
    }

    .button_cancel .cancel_link {
        font-size: 15px;
    }
}